@charset "utf-8";
header a .logo {
}
header a .logo {


}
header a .logo {
}
.container header {
}
.container header {
    background-color: #AD0000;
}
.container {
}
.container header nav {
    background-color: #B02C2F;
}
.container #hero {
    background-image: url(images/red%20panda%20A.jpeg);
}
.container #about .text_column {
    background-image: -webkit-linear-gradient(270deg,rgba(245,55,58,1.00) 3.52%,rgba(255,255,255,1.00) 46.01%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(245,55,58,1.00) 3.52%,rgba(255,255,255,1.00) 46.01%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(245,55,58,1.00) 3.52%,rgba(255,255,255,1.00) 46.01%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(245,55,58,1.00) 3.52%,rgba(255,255,255,1.00) 46.01%,rgba(255,0,0,1.00) 100%);
}
